<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CrystalScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="CrystalScheduler.CrystalScheduler" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CrystalScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="CrystalScheduler.CrystalScheduler" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CrystalScheduler.Properties.Settings.CrystalSchedulerConnectionString"
            connectionString="Data Source=|DataDirectory|\CrystalScheduler.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <userSettings>
        <CrystalScheduler.Properties.Settings>
            <setting name="EmailDefault_To" serializeAs="String">
                <value>toUser@yourservername.com</value>
            </setting>
            <setting name="EmailDefault_From" serializeAs="String">
                <value>fromUser@yourservername.com</value>
            </setting>
            <setting name="EmailDefault_Subject" serializeAs="String">
                <value>Crystal Scheduler generated email</value>
            </setting>
            <setting name="EmailDefault_Cc" serializeAs="String">
                <value>ccUser@yourservername.com</value>
            </setting>
            <setting name="EmailDefault_Message" serializeAs="String">
                <value>Please find the attached report (pdf) from Crystal Scheduler.</value>
            </setting>
        </CrystalScheduler.Properties.Settings>
        <CrystalScheduler.CrystalScheduler>
            <setting name="EmailDefault_To" serializeAs="String">
                <value>toUser@yourservername.com</value>
            </setting>
            <setting name="EmailDefault_From" serializeAs="String">
                <value>fromUser@yourservername.com</value>
            </setting>
            <setting name="EmailDefault_Subject" serializeAs="String">
                <value>Crystal Scheduler generated email</value>
            </setting>
            <setting name="EmailDefault_Cc" serializeAs="String">
                <value>ccUser@yourservername.com</value>
            </setting>
            <setting name="EmailDefault_Message" serializeAs="String">
                <value>Please find the attached report (pdf) from Crystal Scheduler.</value>
            </setting>
            <setting name="EmailAuth_Required" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailAuth_UserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmailAuth_Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="Email_TimeOut" serializeAs="String">
                <value>20</value>
            </setting>
        </CrystalScheduler.CrystalScheduler>
    </userSettings>
    <applicationSettings>
        <CrystalScheduler.Properties.Settings>
            <setting name="EmailSMTP_Server" serializeAs="String">
                <value>smtp.yourservername.com</value>
            </setting>
            <setting name="EmailSMTP_Port" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EmailAuth_Required" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailAuth_UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailAuth_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Email_TimeOut" serializeAs="String">
                <value>20</value>
            </setting>
        </CrystalScheduler.Properties.Settings>
        <CrystalScheduler.CrystalScheduler>
            <setting name="EmailSMTP_Server" serializeAs="String">
                <value>smtp.yourservername.com</value>
            </setting>
            <setting name="EmailSMTP_Port" serializeAs="String">
                <value>25</value>
            </setting>
        </CrystalScheduler.CrystalScheduler>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
